{% comment %} Put your iframe or other Liquid/HTML content here {% endcomment %}
<div class="my-selector-wrapper">
  <iframe 
    src="https://jaycortes.netlify.app/" 
    style="width:100%; height:1000px; border:none;" 
    title="Subscription Selector">
  </iframe>
</div>

{% schema %}
  {
    "name": "Subscription Selector", 
    "target": "section",
    "settings": [
     
    ]
  }
{% endschema %}

